---
// ETF UNSA - Header Mobile (Sliding Menu)
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later
const base = import.meta.env.BASE_URL;
---

<!-- Mobile Menu Container -->
<div
  id="mobile-menu-overlay"
  class="mobile-menu-overlay d-lg-none"
  role="dialog"
  aria-modal="true"
  aria-label="Mobile Menu"
>
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <h5 class="m-0 text-white">Izbornik</h5>
      <button id="mobile-menu-close" class="btn-close btn-close-white" aria-label="Close Menu"
      ></button>
    </div>
    <div class="mobile-menu-viewport">
      <ul class="mobile-menu-level active" data-level="1">
        <li><a href={base + '/'}>Početna</a></li>
        <li class="has-children">
          <a href="#" class="d-flex justify-content-between align-items-center"
            >Layouts <span class="arrow">&gt;</span></a
          >
          <ul class="mobile-menu-level">
            <li class="back-item">
              <a href="#" class="d-flex align-items-center"
                ><span class="arrow me-2">&lt;</span> Nazad</a
              >
            </li>
            <li><a href={base + '/layout-left-sidebar'}>Lijevi Sidebar</a></li>
            <li><a href={base + '/layout-right-sidebar'}>Desni Sidebar</a></li>
            <li><a href={base + '/layout-both-sidebars'}>Oba Sidebara</a></li>
            <li><a href={base + '/layout-no-sidebar'}>Bez Sidebara</a></li>
            <li><a href={base + '/layout-front'}>Front Layout</a></li>
            <li><a href={base + '/examples/layout-section-left'}>Sekcijska Str. (Lijevo)</a></li>
            <li><a href={base + '/examples/layout-section-right'}>Sekcijska Str. (Desno)</a></li>
            <li><a href={base + '/layout-side-bar-menu-left'}>Lijevi Meni (Tree)</a></li>
            <li><a href={base + '/layout-side-bar-menu-right'}>Desni Meni (Tree)</a></li>
            <li>
              <a href={base + '/layout-side-bar-menu-left-right-sidebar'}
                >Lijevi Meni + Desni Sidebar</a
              >
            </li>
            <li>
              <a href={base + '/layout-side-bar-menu-right-left-sidebar'}
                >Lijevi Sidebar + Desni Meni</a
              >
            </li>
          </ul>
        </li>
        <li class="has-children">
          <a href="#" class="d-flex justify-content-between align-items-center"
            >Primjeri stranica <span class="arrow">&gt;</span></a
          >
          <ul class="mobile-menu-level">
            <li class="back-item">
              <a href="#" class="d-flex align-items-center"
                ><span class="arrow me-2">&lt;</span> Nazad</a
              >
            </li>

            <!-- Odsjeci i Osoblje -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Odsjeci i Osoblje <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/department'}>Stranica Odsjeka</a></li>
                <li><a href={base + '/examples/study-program'}>Studijski Program</a></li>
                <li><a href={base + '/examples/study-program-list'}>Lista Programa</a></li>
                <li><a href={base + '/examples/staff-list'}>Lista Osoblja</a></li>
                <li><a href={base + '/examples/staff-profile'}>Profil Profesora</a></li>
                <li><a href={base + '/examples/chair-list'}>Lista Katedri</a></li>
                <li><a href={base + '/examples/course-details'}>Detalji Predmeta</a></li>
              </ul>
            </li>

            <!-- Aktuelnosti -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Aktuelnosti <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/news-list'}>Arhiva Vijesti</a></li>
                <li><a href={base + '/examples/news-single'}>Pojedinačna Vijest</a></li>
                <li><a href={base + '/examples/event-list'}>Arhiva Događaja</a></li>
                <li><a href={base + '/examples/event-single'}>Pojedinačni Događaj</a></li>
              </ul>
            </li>

            <!-- Istraživanje -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Istraživanje <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/project-list'}>Lista Projekata</a></li>
                <li><a href={base + '/examples/project-single'}>Pojedinačni Projekat</a></li>
                <li><a href={base + '/examples/lab-list'}>Lista Laboratorija</a></li>
                <li><a href={base + '/examples/lab-single'}>Pojedinačna Laboratorija</a></li>
              </ul>
            </li>

            <!-- Dokumenti -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Dokumenti <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/document-list'}>Arhiva Dokumenata</a></li>
                <li><a href={base + '/examples/document-single'}>Pojedinačni Dokument</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-children">
          <a href="#" class="d-flex justify-content-between align-items-center"
            >Primjeri sadržaja <span class="arrow">&gt;</span></a
          >
          <ul class="mobile-menu-level">
            <li class="back-item">
              <a href="#" class="d-flex align-items-center"
                ><span class="arrow me-2">&lt;</span> Nazad</a
              >
            </li>

            <!-- Tekst i Struktura -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Tekst i Struktura <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/content/typography'}>Osnovni Tekst i Naslovi</a></li>
                <li><a href={base + '/examples/content/typography'}>Liste i Citati</a></li>
                <li><a href={base + '/examples/content/typography'}>Kod blokovi</a></li>
                <li><a href={base + '/examples/content/typography'}>Tabele</a></li>
              </ul>
            </li>

            <!-- Mediji i Raspored -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Mediji i Raspored <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/content/media'}>Slike i Galerije</a></li>
                <li><a href={base + '/examples/content/media'}>Video Embed</a></li>
                <li><a href={base + '/examples/content/media'}>Floating Images</a></li>
                <li><a href={base + '/examples/content/grid'}>Prikaz Kolona (Grids)</a></li>
                <li><a href={base + '/examples/content/grid'}>Ugniježdeni Grid</a></li>
              </ul>
            </li>

            <!-- Elementi interfejsa -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Elementi interfejsa <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href={base + '/examples/content/components'}>Kartice (Cards)</a></li>
                <li><a href={base + '/examples/content/components'}>Tabovi i Harmonike</a></li>
                <li><a href={base + '/examples/content/components'}>Alerts i Badges</a></li>
                <li><a href={base + '/examples/content/components'}>Dugmad</a></li>
              </ul>
            </li>

            <!-- New: Text & Media -->
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Text & Media <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <!-- Text Group -->
                <li class="menu-label text-uppercase text-muted fw-bold ps-3 mt-2 mb-1 small">
                  Text Group
                </li>
                <li><a href={base + '/examples/text-media/headers'}>Headers</a></li>
                <li><a href={base + '/examples/text-media/rich-text'}>Rich Text</a></li>
                <li><a href={base + '/examples/text-media/lists'}>Lists</a></li>
                <li><a href={base + '/examples/text-media/tables'}>Tables</a></li>

                <!-- Media Group -->
                <li class="menu-label text-uppercase text-muted fw-bold ps-3 mt-3 mb-1 small">
                  Media Group
                </li>
                <li><a href={base + '/examples/text-media/images'}>Images</a></li>
                <li><a href={base + '/examples/text-media/gallery'}>Gallery</a></li>
                <li><a href={base + '/examples/text-media/video'}>Video</a></li>

                <!-- Lists Group -->
                <li class="menu-label text-uppercase text-muted fw-bold ps-3 mt-3 mb-1 small">
                  Lists Example
                </li>
                <li><a href={base + '/examples/text-media/lists-custom'}>Custom Lists</a></li>
                <li><a href={base + '/examples/text-media/code'}>Code Blocks</a></li>
                <li><a href={base + '/examples/text-media/quotes'}>Quotes</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- New: Containers & Interactive -->
        <li class="has-children">
          <a href="#" class="d-flex justify-content-between align-items-center"
            >Containers & Interactive <span class="arrow">&gt;</span></a
          >
          <ul class="mobile-menu-level">
            <li class="back-item">
              <a href="#" class="d-flex align-items-center"
                ><span class="arrow me-2">&lt;</span> Nazad</a
              >
            </li>
            <!-- Cards Group -->
            <li class="menu-label text-uppercase text-muted fw-bold ps-3 mt-2 mb-1 small">Cards</li>
            <li><a href={base + '/examples/containers-interactive/cards'}>Standard Cards</a></li>
            <li>
              <a href={base + '/examples/containers-interactive/cards-person'}>Profile Cards</a>
            </li>

            <!-- Interactive Group -->
            <li class="menu-label text-uppercase text-muted fw-bold ps-3 mt-3 mb-1 small">
              Interactive
            </li>
            <li><a href={base + '/examples/containers-interactive/tabs'}>Tabs</a></li>
            <li><a href={base + '/examples/containers-interactive/accordions'}>Accordions</a></li>
            <li><a href={base + '/examples/containers-interactive/collapse'}>Collapse</a></li>
            <li><a href={base + '/examples/containers-interactive/carousel'}>Carousel</a></li>

            <!-- Banners Group -->
            <li class="menu-label text-uppercase text-muted fw-bold ps-3 mt-3 mb-1 small">
              Banners
            </li>
            <li><a href={base + '/examples/containers-interactive/hero'}>Hero Section</a></li>
            <li><a href={base + '/examples/containers-interactive/cta'}>Call to Action</a></li>
          </ul>
        </li>
        <li class="has-children">
          <a href="#" class="d-flex justify-content-between align-items-center"
            >Studij <span class="arrow">&gt;</span></a
          >
          <ul class="mobile-menu-level">
            <li class="back-item">
              <a href="#" class="d-flex align-items-center"
                ><span class="arrow me-2">&lt;</span> Nazad</a
              >
            </li>
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Bachelor <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href="#">Upis i prijem</a></li>
                <li class="has-children">
                  <a href="#" class="d-flex justify-content-between align-items-center"
                    >Studijski programi <span class="arrow">&gt;</span></a
                  >
                  <ul class="mobile-menu-level">
                    <li class="back-item">
                      <a href="#" class="d-flex align-items-center"
                        ><span class="arrow me-2">&lt;</span> Nazad</a
                      >
                    </li>
                    <li><a href="#">Automatika i elektronika</a></li>
                    <li><a href="#">Elektroenergetika</a></li>
                    <li class="has-children">
                      <a href="#" class="d-flex justify-content-between align-items-center"
                        >Računarstvo i informatika <span class="arrow">&gt;</span></a
                      >
                      <ul class="mobile-menu-level">
                        <li class="back-item">
                          <a href="#" class="d-flex align-items-center"
                            ><span class="arrow me-2">&lt;</span> Nazad</a
                          >
                        </li>
                        <li><a href="#">Odsjek</a></li>
                        <li class="has-children">
                          <a href="#" class="d-flex justify-content-between align-items-center"
                            >Prva godina <span class="arrow">&gt;</span></a
                          >
                          <ul class="mobile-menu-level">
                            <li class="back-item">
                              <a href="#" class="d-flex align-items-center"
                                ><span class="arrow me-2">&lt;</span> Nazad</a
                              >
                            </li>
                            <li><a href="#">Matematika 1</a></li>
                            <li><a href="#">Fizika 1</a></li>
                            <li><a href="#">Uvod u programiranje</a></li>
                            <li><a href="#">Osnovi elektrotehnike</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Druga godina</a></li>
                        <li><a href="#">Treća godina</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Telekomunikacije</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#" class="d-flex justify-content-between align-items-center"
                >Magistarski <span class="arrow">&gt;</span></a
              >
              <ul class="mobile-menu-level">
                <li class="back-item">
                  <a href="#" class="d-flex align-items-center"
                    ><span class="arrow me-2">&lt;</span> Nazad</a
                  >
                </li>
                <li><a href="#">Upis</a></li>
                <li><a href="#">Programi</a></li>
              </ul>
            </li>
            <li><a href="#">Doktorski</a></li>
            <li><a href="#">Stručni</a></li>
          </ul>
        </li>
        <li class="has-children">
          <a href="#" class="d-flex justify-content-between align-items-center"
            >Odsjeci <span class="arrow">&gt;</span></a
          >
          <ul class="mobile-menu-level">
            <li class="back-item">
              <a href="#" class="d-flex align-items-center"
                ><span class="arrow me-2">&lt;</span> Nazad</a
              >
            </li>
            <li><a href="#">Automatika i elektronika</a></li>
            <li><a href="#">Elektroenergetika</a></li>
            <li><a href="#">Računarstvo i informatika</a></li>
            <li><a href="#">Telekomunikacije</a></li>
          </ul>
        </li>
        <li><a href="#">Istraživanje i saradnja</a></li>
      </ul>
    </div>
  </div>
</div>
