// ETF UNSA - Layout Styles
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

.ez-page-banner {
    width: 100%;
}

.ez-page-breadcrumbs {
    width: 100%;
    background-color: var(--bs-tertiary-bg);
    border-bottom: 1px solid var(--bs-border-color);

    // Ensure breadcrumb list inside has no bottom margin
    .breadcrumb {
        margin-bottom: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

.ez-page-main-content {
    flex: 1 0 auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.ez-page-content-before {
    min-height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    &:empty {
        display: none;
    }
}

.ez-page-content {
    width: 100%;
}

.ez-page-content-after {
    margin-top: 3rem;

    &:empty {
        display: none;
    }
}