// ETF UNSA - Carousel Component SCSS
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

.ez-carousel {
    position: relative;

    // Height Variants
    &--full {
        .carousel-item {
            height: 100vh;
            min-height: 100vh;
        }
    }

    &--small {
        .carousel-item {
            height: 15rem; // 240px
            min-height: 15rem;
        }
    }

    &--medium {
        .carousel-item {
            height: 30rem; // 480px
            min-height: 30rem;
        }
    }

    &--large {
        .carousel-item {
            height: 40rem; // 640px
            min-height: 40rem;
        }
    }

    // Indicators
    .carousel-indicators {
        bottom: -2.5rem; // -40px
        margin-bottom: 0;

        [data-bs-target] {
            width: 0.75rem; // 12px
            height: 0.75rem; // 12px
            border-radius: 0;
            background-color: var(--bs-body-bg);
            border: 1px solid var(--bs-primary);
            opacity: 0.5;
            margin: 0 0.25rem; // 4px
            transition: opacity .6s ease;
        }

        .active {
            opacity: 1;
            background-color: var(--bs-primary);
        }
    }

    // Controls
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: var(--bs-primary);
        border-radius: 0;
        background-size: 50%, 50%;
    }

    // Ensure content inside takes full height
    .carousel-item>* {
        height: 100%;
        width: 100%;
    }
}