// ETF UNSA - Utility Classes
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

// Avatar Utilities
.ez-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $ez-bg-light;
    color: $ez-secondary-color;
    flex-shrink: 0;

    &--sm {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }

    &--md {
        width: 50px;
        height: 50px;
        font-size: 1.25rem;
    }

    &--lg {
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    &--xl {
        width: 100px;
        height: 100px;
        font-size: 2.5rem;
    }

    &--xxl {
        width: 150px;
        height: 150px;
        font-size: 3rem;
    }
}

// Image Utilities
.ez-img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;

    &--min-200 {
        min-height: 200px;
    }
}

// Sticky Utilities
.ez-sticky-top-offset {
    position: sticky;
    top: 2rem;
    z-index: 1;
}

// Table Utilities
.ez-table-col-50 {
    width: 50%;
}

// Text Utilities
.ez-text-truncate-200 {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}