// ETF UNSA - Page Layout Base
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

.ez-page-main-content {
    flex: 1 0 auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}