// ETF UNSA - Font Imports (Local)
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later
// IBM Plex Fonts: Sans, Serif, Mono using @fontsource packages

// IBM Plex Sans
@import "@fontsource/ibm-plex-sans/300.css";
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/ibm-plex-sans/700.css";

// IBM Plex Serif
@import "@fontsource/ibm-plex-serif/400.css";
@import "@fontsource/ibm-plex-serif/600.css";

// IBM Plex Mono
@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/600.css";