// ETF UNSA Design System - Mixins
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

// This file is now empty as we rely on native Bootstrap mixins.
// @include media-breakpoint-up/down()
// @include clearfix()
// @include text-truncate()
// @include visually-hidden()