---
// ETF UNSA - Header Slim: Language Switcher
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later
---

<div class="d-inline-block small">
  <a href="#" class="text-white text-decoration-none fw-bold">BS</a>
  <span class="text-secondary mx-1">|</span>
  <a href="#" class="text-white-50 text-decoration-none">EN</a>
</div>
