---
// ETF UNSA - Header Brand (Center Bar)
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later
---

<div class="ez-header-center-wrapper">
  <div class="container">
    <div class="ez-header-center-content d-flex justify-content-between align-items-center">
      <!-- Brand -->
      <a class="ez-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-lightning-charge ez-brand-logo text-primary" viewBox="0 0 16 16">
          <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
        </svg>
        <div class="ez-brand-text ms-3">
          <div class="ez-brand-title">Univerzitet u Sarajevu</div>
          <div class="ez-brand-tagline">ElektrotehniÄki fakultet</div>
        </div>
      </a>

      <!-- Mobile Menu Toggle -->
      <button
        class="navbar-toggler d-lg-none"
        type="button"

        aria-controls="mobileMenuOverlay"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
    </div>
  </div>
</div>
