---
// ETF UNSA - Info Card Component
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

import SidebarWidget from './SidebarWidget.astro';

interface Props {
  title: string;
  icon?: string;
  class?: string;
}

const { title, icon, class: className } = Astro.props;
---

<SidebarWidget title={title} icon={icon} class={className}>
  <div class="ez-list-group list-group list-group-flush">
    <slot />
  </div>
</SidebarWidget>
