---
// ETF UNSA - Header Slim: Service Links
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later
---

<div class="dropdown d-inline-block">
  <a
    class="text-white text-decoration-none dropdown-toggle small"
    href="#"
    role="button"
    id="dropdownServisi"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Servisi
  </a>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end small shadow" aria-labelledby="dropdownServisi">
    <li><a class="dropdown-item" href="#">Courseware (C2)</a></li>
    <li><a class="dropdown-item" href="#">Courseware (C3)</a></li>
    <li><a class="dropdown-item" href="#">Webmail</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Account</a></li>
  </ul>
</div>
