---
// ETF UNSA - Header Slim: University Links
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later
const base = import.meta.env.BASE_URL;
---

<div class="dropdown d-inline-block">
  <a
    class="text-white text-decoration-none dropdown-toggle small"
    href="#"
    role="button"
    id="dropdownUniverzitet"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Univerzitet
  </a>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end small shadow" aria-labelledby="dropdownUniverzitet">
    <li><a class="dropdown-item" href="#">UNSA</a></li>
    <li><a class="dropdown-item" href="#">eUNSA</a></li>
    <li><a class="dropdown-item" href="#">International</a></li>
    <li><a class="dropdown-item" href={base + "/design/components/index.html"}>Dizajn Sistem</a></li>
  </ul>
</div>
