// ETF UNSA Design System - Main SCSS Entry Point
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

// Base
@import 'base/variables';
@import 'base/mixins';

// Components
@import 'components/ez-button';

// Layouts (when created)
// @import 'layouts/header';
// @import 'layouts/footer';

// Utilities (when created)
// @import 'utilities/colors';
// @import 'utilities/spacing';

// Themes
// @import 'themes/etf';