// ETF UNSA Custom Styles
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

// Fonts (CDN)
@import 'base/fonts';

// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/bootstrap-overrides';
@import 'base/global';

// Components (ez- prefixed)
@import 'components/ez-button';
@import 'components/ez-card';
@import 'components/ez-form';
@import 'components/ez-hero';
@import 'components/ez-navbar';
@import 'components/ez-header';
@import 'components/ez-breadcrumbs';
@import 'components/ez-layout';
@import "components/ez-utilities";
@import "components/ez-carousel";
@import "components/ez-sidebar";
@import "components/ez-footer";

// Layouts (when created)
// @import 'layouts/header';
// @import 'layouts/footer';

// Utilities (when created)
// @import 'utilities/colors';
// @import 'utilities/spacing';

// Themes
// @import 'themes/etf';