---
const { title, icon, class: className } = Astro.props;
---

<div class:list={['card mb-4', className]}>
  {
    title && (
      <div class="card-header bg-primary text-white d-flex align-items-center">
        {icon && <i class:list={[icon, 'me-2']} />}
        <h5 class="card-title mb-0 text-white fs-6 fw-bold">{title}</h5>
      </div>
    )
  }
  <div class="card-body">
    <slot />
  </div>
  <slot name="footer" />
</div>
